:root {
    --LEFT-NAV-BG-CLR: gray;
    --white: #fff;
}

.left-nav {
    background-color: var(--LEFT-NAV-BG-CLR);
    margin-right: 8px;
    height: 100%;
    color: var(--white);
    width: 50px;
    max-width: 150px;

    transition: width 0.8s;
}

.left-nav .app-logo-container {
    padding: 0.5rem;
}

.left-nav .app-logo-container .logo {
    margin-right: 0.25rem;
}

.left-nav:focus,
.left-nav:focus-within,
.left-nav:hover {
    width: 100%;
}

.left-nav .logo {
    width: 40px;
    background-color: transparent;
}