
:root {
  --Nav-item-padding: 0.8rem 1rem;
  --Dark-gray: #4a4a4a;
}

.navItemWidth {
  width: 150px;
}

.navItemPadding {
  padding: 0.8rem 1rem;
}

.dark-gray-bg {
  background-color: var(--Dark-gray, #4a4a4a);
}